
@{
    ViewBag.Title = "InternalServer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="err" style="text-align: center; margin: 60px;">
    <img src="~/Areas/Admin/images/Feedbin-Icon-error.svg.png" style="width: 120px; height: 120px;" />
    <h1><span style="font-size: 120px;">500</span></h1>
    <h2>Website đang được nâng cấp.<br />Xin lỗi về sự cố đáng tiếc này, chúng tôi sẽ cố gắng khắc phục trong thời gian sớm nhất!</h2>
</div>
